.title {
  display: flex;
}

/*MOBILE*/
@media screen and (min-width:0) {
  .title {
    width: 26rem;
    gap: 16px;
    padding: 16px;
  }
}

/*TABLET*/
@media screen and (min-width:768px) {
  .title {
    width: 57rem;
    gap: 32px;
    padding: 32px;
  }
}

/*DESKTOP*/
@media screen and (min-width:1024px) {
  .title {
    width: 100%;
  }
}