/*ajuste de foto e título*/

/*MOBILE*/
@media screen and (min-width: 0) {
  
}

/*TABLET*/
@media screen and (min-width: 768px) {
  .title__div {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 5%;
  }
  
/*DESKTOP*/
@media screen and (min-width: 1024px) {
  .title__div {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 5%;
  }
}

}